
# Created by https://www.gitignore.io/api/c++,linux,visualstudiocode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*

# End of https://www.gitignore.io/api/c++,linux,visualstudiocode

# All inputs 
*.in 
# Eest sources
test.cpp
# Playground files
Playground/*
# All pdfs
*.pdf
# All java bytecode files
*.class
# All .zip files
*.zip
# All images
*.jpg
*.png
*.bmp
# TopCoder Arena Client and Dependencies
TopCoder/ArenaClient/
TopCoder/cpp.tmpl
TopCoder/greed.conf
TopCoder/*/*.html
TopCoder/*/*.sample
# Tools :)
Deleter
# Datas
Data/*
# School Contest
School/*